<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="billService" class="com.home.project.service.BillService" scope="singleton">
   </bean>
   <bean id="categoryService" class="com.home.project.service.CategoryService" scope="singleton">
   </bean>
   <bean id="productService" class="com.home.project.service.ProductService" scope="singleton">
   </bean>
   <bean id="categoryDao" class="com.home.project.dao.CategoryDao" scope="singleton">
   </bean>
   <bean id="productDao" class="com.home.project.dao.ProductDao" scope="singleton">
   </bean>
   <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
</beans>